<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  {#
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  #}
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% block head %}
  {% endblock %}
  <style>
    pre { white-space: pre-wrap }
    a { text-decoration: none }
    {% block style %}
    {% endblock %}
  </style>

  <body class="w3-light-gray">

    <header class="w3-container w3-black w3-bar"><span class="w3-bar-item w3-large w3-right">lo2</span></header>

    {% block content %}
    {% endblock %}

    <script>
      {% block script %}
      {% endblock %}
    </script>
  </body>
</html>
