{% extends 'base.jinja2' %}

{% block style %}
  body {
  font-family: Roboto !important;
  }
  .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  h3 {
  font-family: Roboto !important;
  font-weight: 700;
  }
{% endblock %}

{% block content %}
  <header class="w3-container w3-green">
    <h2><a href="{{ url_for('index') }}">{{ icon('bank') }} Index</a></h2>
  </header>

  <div class="w3-container w3-panel w3-pale-green">
    <center>
      <h3>Add new url</h3>
    </center>
    <p>
      <form method="POST">
        <div class="w3-third">
          <input style="height: 40px;" class="w3-input" type="text" name="new_url" minlength=2/>
        </div>
        <div class="w3-third">
          <select style="height: 40px;" name="youtube_dl_optional_arg" class="w3-input">
            {% for arg in youtube_dl_optional_args %}
              <option value="{{ arg }}">{{ arg }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="w3-third">
          <button style="height: 40px;" class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_add_url">{{ icon('plus') }} Add</button>
        </div>
      </form>
      <br/>
      <br/>
    </p>
  </div>

  <div class="w3-container w3-panel w3-white">

    <div class="w3-panel">
      <h3>List of videos (total {{ queue_count }}):</h3>
      Pages:
      {% for page in queue.iter_pages() %}
        {% if page %}
          {% if page != queue.page %}
            <a href="{{ url_for('index', page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
          &nbsp;
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
    </div>




    {% for q in queue.items %}

      <div style="align-items: center; display: flex">
        <div>

          {% if q.thumbnail_url %}
            <a target="_blank" href="{{ url_for('play', video_id=q.id) }}">
              <img style="border-radius: 20px; height:200px;" src="{{ q.thumbnail_url }}"/>
            </a>
          {% endif %}

        </div>
        <div style="padding-left: 20px; flex-grow: 1">

          {% if q.status == Status.OK %}
            <span class="truncate">
              <a style="word-spacing: 2px; font-size: 1.8em; font-weight: 700;" target="_blank" href="{{ url_for('play', video_id=q.id) }}">
                {{ q.youtube_dl_json.get("title")|capitalize }}
              </a>
              <br/>
              <a href="{{ q.url }}">{{ q.url }}</a>
            </span>
          {% else %}
            <span class="truncate">
              {{ q.url }}
            </span>
          {% endif %}

          <br/>
          <br/>
          Added: {{ nice_time(q.added_epochtime) }}

          {% if q.status == Status.OK %}
            <br/>
            Duration: {{ nice_duration(q.youtube_dl_json.get("duration")) }}
          {% endif %}

          <br/>
          Status: {{ q.status.name }}

          {% if q.status == Status.OK and q.youtube_dl_json.get("channel_url") %}
            <br/>
            Channel: <a href="{{ q.youtube_dl_json.get("channel_url") }}">{{ q.youtube_dl_json.get("channel_url") }}</a>
          {% endif %}

          {% if q.status == Status.OK %}
            <br/>
            <a href="{{ url_for('info', queue_id=q.id) }}">JSON dump</a>
          {% endif %}

        </div>
      </div>
      <br/>
    {% endfor %}

    <p>
      Pages:
      {% for page in queue.iter_pages() %}
        {% if page %}
          {% if page != queue.page %}
            <a href="{{ url_for('index', page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
          &nbsp;
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
    </p>

  </div>

{% endblock %}
