{% extends 'base.jinja2' %}

{% block style %}
  * {
  font-family: Roboto !important;
  }
  .truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  h3 {
  font-family: Roboto !important;
  font-weight: 700;
  }
{% endblock %}

{% block content %}
  <header class="w3-container w3-green">
    <h2><a href="{{ url_for('index') }}">{{ icon('bank') }} Index</a></h2>
  </header>

  <div class="w3-container w3-panel w3-pale-green">
    <h3>Add new url</h3>
    <form method="POST">
      <p>
        <label>Site URL:</label>
        <input class="w3-input" type="text" name="new_url" minlength=2/>
      </p>
      <p>
        <label>Optional arguments:</label>
        <select name="youtube_dl_optional_arg" class="w3-input">
          {% for arg in youtube_dl_optional_args %}
            <option value="{{ arg }}">{{ arg }}</option>
          {% endfor %}
        </select>
      <p>
        <button class="w3-input w3-blue" type="Submit" name="Submit" value="Submit_add_url">{{ icon('plus') }} Add</button>
      </p>
    </form>
  </div>

  <div class="w3-container w3-panel w3-white">
    <h3>List of videos (total {{ queue_count }}):</h3>
    <p>
      Pages:
      {% for page in queue.iter_pages() %}
        {% if page %}
          {% if page != queue.page %}
            <a href="{{ url_for('index', page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
          &nbsp;
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
    </p>
    <p>
      <table class="w3-table w3-bordered" style="width: 100%; white-space: nowrap;">
        <tbody>
          {% for q in queue.items %}
            <tr>
	      <td style="max-width: 300;">
		{% if q.thumbnail_url %}
                  <a target="_blank" href="{{ url_for('play', video_id=q.id) }}"><img style="height:154px;" src="{{ q.thumbnail_url }}"/></a>
		{% else %}
                {% endif %}
	      </td>
	      <td style="text-align: left; overflow: hidden; text-overflow: ellipsis">
		<h3>
		  {% if q.status == Status.OK %}
                  <a href="{{ url_for('info', queue_id=q.id) }}">{{ q.youtube_dl_json.get("title") }}</a>
		{% else %}
                  {{ q.url }}
		{% endif %}
		</h3>
		<br/>
		Duration:
		{% if q.status == Status.OK %}
                  {{ nice_duration(q.youtube_dl_json.get("duration")) }}
		{% else %}
		{% endif %}
		<br/>
		Last played:
		{{ nice_time(q.added_epochtime) }}
		{% if q.lastplayed_epochtime %}
                  {{ nice_time(q.lastplayed_epochtime) }}
		{% else %}
                  Never
		{% endif %}
		<br/>
		Status:
                {% if q.status == Status.OK and q.youtube_dl_json.get("channel_url") %}
                  <a href="{{ q.youtube_dl_json.get("channel_url") }}">{{ q.status.name }}</a>
                {% else %}
                  {{ q.status.name }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </p>

    <p>
      Pages:
      {% for page in queue.iter_pages() %}
        {% if page %}
          {% if page != queue.page %}
            <a href="{{ url_for('index', page=page) }}">{{ page }}</a>
          {% else %}
            <strong>{{ page }}</strong>
          {% endif %}
          &nbsp;
        {% else %}
          <span class=ellipsis>…</span>
        {% endif %}
      {% endfor %}
    </p>

  </div>

{% endblock %}
